.bold{
    font-weight: bold;
}
.red{
    color: red;
}

button{
    border: 1px solid green;
    padding: 16px;
    background: blue;
    font: inherit;
    color: #cccccc;
}
button:hover{
    background: green;
    color: black;
}
button.red{
    background: red;
    color: #cccccc;
}
button.red:hover{
    background: #ff866e;
}